* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
header {
    max-width: 1216px;
    margin: 0 auto;
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
}

h1 {
    float: left;
    line-height: 30px;
}
.main-navigation {
    float: right;
}

.main-navigation>li {
    height: 30px;
    float: left;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

.main-navigation>li>a{
    display: block;
    width: 150px;
}


.main-image img{
    width: 100vw;
    height: 600px;
    object-fit: cover;
}

main {
    max-width: 1216px;
    margin: 0% auto;
    padding-top: 50px;
}

main>h2{
    margin-bottom: 24px;
}

